.footer {
    $this: &;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 2.5rem;
    width: calc(100% - 2 * 1.5rem);
    padding: 1.5rem 1.5rem;
    background: #E4E4E4;
    font-size: .875rem;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;

    &__left {
        width: calc(100%/2);
        text-align: left;
    }

    &__right {
        width: calc(100%/2);
        text-align: right;
    }
}