.event-list {
    $this: &;
    margin: .75rem 0;

    &__event {
        display: block;
        width: 100%;
        height: 10rem;
        background-size: cover;
        background-position: center;
    }

    &__content {
        height: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        color: white;
        font-family: 'Raleway', sans-serif;
    }
    
    &__place {
        font-size: .75rem;        
        text-transform: uppercase;
        text-shadow: 1px 1px 2.25em black;
    }

    &__date {
        font-size: .75rem;
        text-shadow: 1px 1px 2.25em black;
    }

    &__name {
        font-size: 1.5rem;
        font-weight: bold;
        text-shadow: 1px 1px 2.25em black;
    }
}
