.home {
    $this: &;

    font-size: 1rem;
    text-align: center;
    font-family: 'Open sans', sans-serif;

    &__description {
        margin-top: .75rem;
        margin-left: 1.75rem;
        margin-right: 1.75rem;
    }

    &__popular {
        margin-left: 1.75rem;
        margin-right: 1.75rem;
    }
}
