.home {
    $this: &;

    &__header {
        height: 3rem;
        padding: 2rem 1.5rem;
    }

    &__description {
        margin-top: .75rem;
        margin-left: 1.75rem;
        margin-right: 1.75rem;
        text-align: center;
        font-size: 1rem;
        font-family: 'Open sans', sans-serif;
    }
}