<ng-container *ngTemplateOutlet="buttonConfig['text'] ? text : image">
</ng-container>

<ng-template #text>
    <button type="button"
            [ngStyle]="buttonConfig.styles"
            [ngClass]="buttonConfig.active ? 'success' : 'danger'"
            (click)="textBtnClickEmot()">
        {{buttonConfig.text | lowercase}}
    </button>
</ng-template>

<ng-template #image>
    <img alt="image button"
         [src]="buttonConfig.src"
         [ngStyle]="buttonConfig.styles"
         [ngClass]="buttonConfig.active ? 'success' : 'danger'"
         (click)="onImgBtnClick()">
</ng-template>