<div class="register">
    <p class="register__title">register works!</p>
    <div class="register__form">
        <form novalidate 
        #f="ngForm"
        [formGroup]="form"
        (ngSubmit)="submitForm(f)">
            <div class="register__danger"
            *ngIf='formSubmitted && form.invalid'>
                <span>Kolejny div i znowu to samo...</span>
                <ul>
                    <li *ngFor="let error of form.getFormValidationMessages()">
                        {{error}}
                    </li>
                </ul>
            </div>    
            
            <div class="register__inputs"
                *ngFor="let control of form.userControls">
                <label>
                    {{control.label}}
                </label>
                <input class="register__main"
                    [(ngModel)]="user[control.modelProperty]"
                    name="{{control.modelProperty}}"
                    formControlName="{{control.modelProperty}}"/>
                <ul class="register__danger"
                    *ngIf="(formSubmitted || control.dirty) && control.invalid">
                    <li *ngFor="let error of control.getFormValidationMessages">
                        {{error}}
                    </li>
                </ul>
            </div>
            
            <button 
            class="register__submit" 
            type="submit">
                Register
            </button>
        </form>

        <p class="register__account">
            Already have an account? 
            <a class="register__login" href="/users/login">
                Login
            </a>
        </p>
    </div>
</div>
